.form-header h2 {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #00868b;
  padding: 17px 0;
  border-bottom: 2px solid #ccc;
}
form {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  #error_explanation {
    font-size: .8em;
    text-align: center;
    padding: 10px 0;
    h2 {
      font-size: 2.2em;
      color: $red;
    }
  }
  label {
    color: #329ea2;
  }
  em {
    color: #329ea2;
    font-size: .8em;
  }
  .actions {
    padding-bottom: 20px;
  }
  .bottom-link {
    padding-top: 7px;
  }
}
